<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_submit_all_after">
        <observer name="order_place_after_observer" instance="HammadIdrees\HelloWorld\Observer\AdminSubmitOrder" />
    </event>

<!--    <event name="sales_order_save_after">-->
<!--        <observer name="sales_order_save_after" instance="HammadIdrees\HelloWorld\Observer\SalesOrderSaveAfterObserver" />-->
<!--    </event>-->

    controller_action_catalog_product_save_entity_after

    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="controller_action_catalog_product_save_entity_after" instance="HammadIdrees\HelloWorld\Observer\ProductSaveObserver" />
    </event>



</config>
