<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="post_configurations" translate="label" sortOrder="10">
            <label>Post Configurations</label>
        </tab>
        <section id="post_configurations" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Manage Post Configurations</label>
            <tab>post_configurations</tab>
            <resource>HammadIdrees_HelloWorld::post_configurations</resource>
            <group id="post_configurations_group" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Post Configurations</label>
                <field id="enable_post_display" translate="label comment" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enable Post Display</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
