<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_view">
        <observer name="HammadIdreesProductData" instance="HammadIdrees\HelloWorld\Observer\ProductViewObserver" disabled = "true" />
    </event>


<!--    this event is triggered when "Place Order" button is pressed-->
    <event name="checkout_onepage_controller_success_action">
        <observer name="order_place_after_observer" instance="HammadIdrees\HelloWorld\Observer\OrderPlaceAfterObserver" />
    </event>


<!--    this event is triggered when the "Add to Cart" button is pressed-->
    <event name="checkout_cart_add_product_complete">
        <observer name="checkout_cart_add_product_complete" instance="HammadIdrees\HelloWorld\Observer\ProdAddToCartAfter"/>
    </event>

<!--    this event is triggered when "update" button for quantity inside the cart is pressed -->
    <event name="checkout_cart_update_items_after">
        <observer name="checkout_cart_update_items_after" instance="HammadIdrees\HelloWorld\Observer\LimitCartQtyUpdate" />
    </event>

    <!--    this event is triggered when "View and Edit Cart" -> "Update Shopping Cart" button is pressed -->
    <event name="checkout_cart_update_item_complete">
        <observer name="checkout_cart_update_item_complete" instance="HammadIdrees\HelloWorld\Observer\LimitCartQtyUpdate" />
    </event>

<!--    <event name="sales_order_save_after">-->
<!--        <observer name="sales_order_save_after" instance="HammadIdrees\HelloWorld\Observer\SalesOrderSaveAfterObserver" />-->
<!--    </event>-->

</config>
