<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_view">
        <observer name="HammadIdreesProductData" instance="HammadIdrees\HelloWorld\Observer\ProductViewObserver" />
    </event>


<!--    this event is triggered when "Place Order" button is pressed-->
    <event name="checkout_onepage_controller_success_action">
        <observer name="order_place_after_observer" instance="HammadIdrees\HelloWorld\Observer\OrderPlaceAfterObserver" />
    </event>

<!--    this event is triggered when the "Add to Cart" button is pressed-->
    <event name="checkout_cart_add_product_complete">
        <observer name="limit_product_qty_to_one" instance="HammadIdrees\HelloWorld\Observer\ProdAddToCartAfter"/>
    </event>

<!--    this event is triggere when "update" button for quantity inside the cart is pressed -->
    <event name="checkout_cart_update_items_after">
        <observer name="limit_cart_item_qty_to_one" instance="HammadIdrees\HelloWorld\Observer\LimitCartQtyUpdate" />
    </event>

</config>
